<%= form_for(@sailor) do |f| %>
  <% if @sailor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sailor.errors.count, "error") %> prohibited this sailor from being saved:</h2>

      <ul>
      <% @sailor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
